In [1]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

---
---

# Global Health Expenditure Database: GHED

## GHED Indicators

https://apps.who.int/nha/database/Select/Indicators/en  
GLOBAL HEALTH EXPENDITURE DATABASE

In [2]:
df = pd.read_excel('data/GHED Indicator List (2023).xlsx')

In [3]:
df.head(3)

,"INDICATORS GLOBAL HEALTH EXPENDITURE DATABASE (GHED), December 2023 update",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,INDICATOR NAME,INDICATOR GROUP,INDICATOR CODE,Indicator Short code,INDICATOR FORMULA,METHOD OF MEASUREMENT,UNIT OF MEASURE,Indicator Name - FRENCH,Indicator Name - SPANISH,Indicator Name - RUSSIAN,Indicator Name - ARABIC,Indicator Name - CHINESE
1,Current Health Expenditure (CHE) as % of Gross...,AGGREGATES,CHE%GDP_SHA2011,che_gdp,CHE / GDP,Current Health Expenditure (CHE) / Gross Domes...,Percents,Dépenses de santé courantes en tant que pource...,Gasto corriente en salud como % del producto i...,Текущие расходы на здравоохранение как % от Ва...,الإنفاق الصحي الحالي بوصفه نسبة مئوية من النا...,经常性卫生支出占国内生产总值的百分比
2,Current Health Expenditure (CHE) per Capita in...,AGGREGATES,CHE_pc_US$_SHA2011,che_pc_usd,CHE / Population / Ex. rate,Current Health Expenditure (CHE) / Population ...,USD per capita,Dépenses de santé courantes par habitant en US $,"Gasto corriente en salud per cápita, en US$",Текущие расходы на здравоохранение на душу нас...,الإنفاق الصحي الحالي لكل فرد بالدولارات الأمريكية,人均经常性卫生支出额（美元）

In [4]:
df.sample(10)

,"INDICATORS GLOBAL HEALTH EXPENDITURE DATABASE (GHED), December 2023 update",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
5,Capital Health Expenditure (External) as % of ...,AGGREGATES,HK_EXT%GDP,hk_ext_gdp,HK_ext (HKxFS.RI.1.5) / GDP,Expenditure (from external sources) on capital...,Percents,Dépenses en capital pour la santé financées pa...,Gasto de capital en salud de fuentes externas ...,Капитальные Расходы на Здравоохранение из Внеш...,الإنفاق الرأسمالي (الخارجي) على الصحة كنسبة مئ...,卫生资本支出（外部）占国内生产总值的百分比
79,External sources of funding on malaria as % of...,DISEASES AND CONDITIONS,EXT_dis13%EXT,dis13_ext_ext,DIS.1.3_ext / EXT,External sources of funding on malaria (DIS.1....,Percents,Sources de financement extérieures destinées a...,Gasto de fuentes externas en malaria como % de...,Внешние источники финансирования на малярию ка...,تمويل مكافحة الملاريا من مصادر خارجية كنسبة مئ...,疟疾的外部资金来源占外部卫生支出的百分比
85,External sources of funding on nutritional def...,DISEASES AND CONDITIONS,EXT_dis3%EXT,dis3_ext_ext,DIS.3_ext / EXT,External sources of funding on nutritional def...,Percents,Sources de financement extérieures destinées a...,Gasto de fuentes externas en deficiencias nutr...,Внешние источники финансирования на дефицит пи...,تمويل مكافحة حالات نقص التغذية من مصادر خارجية...,营养缺乏症的外部资金来源占外部卫生支出的百分比
11,Domestic General Government Health Expenditure...,FINANCING SOURCES,GGHE-D%CHE_SHA2011,gghed_che,(FS.1 + FS.3) / CHE,(Transfers from government domestic revenue (a...,Percents,Dépenses de santé nationales des administratio...,Gasto en salud del gobierno general de fuentes...,Внутренние расходы государственного сектора на...,الإنفاق الصحي المحلي للحكومة العامة بوصفه نسبة...,国内广义政府卫生支出占经常性卫生支出的百分比
3,Capital Health Expenditure (HK) as % of Gross ...,AGGREGATES,HK%GDP_SHA2011,hk_gdp,HK / GDP,Expenditure on capital in healthcare providers...,Percents,Dépenses de santé en capital (HK) en % du Prod...,Gasto de capital en salud (HK) como % del prod...,Капитальные Расходы на Здравоохранение (HK) ка...,الإنفاق على رأس المال (HK) كنسبة مئوية من النا...,资本形成费用占国内生产总值比重（%）
35,Domestic General Government Expenditure on PHC...,PRIMARY HEALTH CARE,GGHE-D_phc%GGHE-D,gghed_phc_gghed,PHCE_gghe-d / GGHE - D,Domestic General Government Expenditure on PHC...,Percents,Sources de financement intérieures publiques d...,Gasto del gobierno general de fuentes doméstic...,Внутренние расходы государственного сектора на...,الإنفاق الحكومي العام المحلي على الرعاية الصحي...,国内广义政府初级卫生保健支出占国内广义政府卫生支出的百分比
48,Domestic General Government Expenditure on vac...,PRIMARY HEALTH CARE,GGHE-D_fp3214%FP3214,fp3214_gghed_fp3214,FP.3.2.1.4_gghe-d / FP.3.2.1.4,Domestic General Government Expenditure on vac...,Percents,Sources de financement intérieures publiques e...,Gasto del gobierno general de fuentes doméstic...,Внутренние расходы государственного сектора на...,الإنفاق الحكومي العام المحلي على اللقاحات كنسب...,国内广义政府疫苗支出占疫苗支出的百分比
44,Expenditure on Immunization as % of Current He...,PRIMARY HEALTH CARE,HC62%CHE,hc62_che,HC.6.2 / CHE,Expenditure on Immunization (HC.6.2) / Current...,Percents,Dépenses des programmes de vaccination en % de...,Gasto en programas de inmunización como % del ...,Расходы на иммунизацию как % от текущих расход...,الإنفاق على برامج التمنيع كنسبة مئوية من الإنف...,免疫规划支出占经常性卫生支出的百分比
82,External sources of funding on maternal condit...,DISEASES AND CONDITIONS,EXT_dis21%EXT,dis21_ext_ext,DIS.2.1_ext / EXT,External sources of funding on maternal condit...,Percents,Sources de financement extérieures destinées a...,Gasto de fuentes externas en condiciones mater...,Внешние источники финансирования на матерински...,تمويل مكافحة اعتلالات الأمومة من مصادر خارجية ...,孕产妇病症的外部资金来源占外部卫生支出的百分比
56,Expenditure on maternal conditions as % of Cur...,DISEASES AND CONDITIONS,dis21%CHE,dis21_che,DIS.2.1 / CHE,Expenditure on maternal conditions (DIS.2.1) /...,Percents,Dépenses destinées aux Affections Maternelles ...,Gasto en condiciones maternas como % del gasto...,Расходы на материнские состояния как % от теку...,الإنفاق على أوضاع الأمهات كنسبة مئوية من الإن...,孕产妇病症支出占经常性卫生支出的百分比

In [5]:
df['Unnamed: 1'].unique()

array(['INDICATOR GROUP', 'AGGREGATES', 'FINANCING SOURCES',
       'FINANCING SCHEMES', 'PRIMARY HEALTH CARE',
       'DISEASES AND CONDITIONS', 'COVID', 'MACRO'], dtype=object)

In [6]:
# rows to delete
rows = ['FINANCING SOURCES',
       'FINANCING SCHEMES', 'PRIMARY HEALTH CARE',
       'DISEASES AND CONDITIONS', 'COVID', 'MACRO']

# Filter the DataFrame
df_f1 = df[~df['Unnamed: 1'].str.contains('|'.join(rows), na=False)]

In [7]:
df_f1.columns

Index(['INDICATORS GLOBAL HEALTH EXPENDITURE DATABASE (GHED), December 2023 update',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'],
      dtype='object')

In [8]:
# Set the first row as header
df_f1.columns = df_f1.iloc[0]
df_f1 = df_f1[1:].reset_index(drop=True)

df_f1.columns

Index(['INDICATOR NAME', 'INDICATOR GROUP', 'INDICATOR CODE',
       'Indicator Short code', 'INDICATOR FORMULA', 'METHOD OF MEASUREMENT',
       'UNIT OF MEASURE', 'Indicator Name - FRENCH',
       'Indicator Name - SPANISH', 'Indicator Name - RUSSIAN',
       'Indicator Name - ARABIC', 'Indicator Name - CHINESE'],
      dtype='object', name=0)

In [9]:
# Columns to delete
columns_to_delete = ['INDICATOR CODE', 'METHOD OF MEASUREMENT', 'INDICATOR GROUP', 
                     'INDICATOR FORMULA',
                     'Indicator Name - FRENCH', 'Indicator Name - SPANISH',
                     'Indicator Name - RUSSIAN', 'Indicator Name - ARABIC',
                     'Indicator Name - CHINESE']

# Delete the specified columns
df_f2 = df_f1.drop(columns=columns_to_delete)

In [10]:
pd.set_option('display.max_colwidth', None)
# pd.reset_option('display.max_colwidth')

df_f2

,INDICATOR NAME,Indicator Short code,UNIT OF MEASURE
0,Current Health Expenditure (CHE) as % of Gross Domestic Product (GDP),che_gdp,Percents
1,Current Health Expenditure (CHE) per Capita in US$,che_pc_usd,USD per capita
2,Capital Health Expenditure (HK) as % of Gross Domestic Product (GDP),hk_gdp,Percents
3,Capital Health Expenditure (Public domestic) as % of Gross Domestic Product (GDP),hk_g_gdp,Percents
4,Capital Health Expenditure (External) as % of Gross Domestic Product (GDP),hk_ext_gdp,Percents
5,Current Health Expenditure (CHE),che,National Currency Unit (NCU) millions
6,Domestic General Government Expenditure (GGHE-D),gghed,National Currency Unit (NCU) millions
7,Domestic Private Health Expenditure (PVT-D),pvtd,National Currency Unit (NCU) millions
8,Health Expenditure from External sources (EXT),ext,National Currency Unit (NCU) millions

---

## GHED 2000-2021

In [11]:
# GHED 2000-2021 (everything) from WHO
df1 = pd.read_excel('data/GHED_data.xlsx')

In [12]:
df1.head(3)

,country,code,region,income,year,che_gdp,che_pc_usd,hk_gdp,hk_g_gdp,hk_ext_gdp,...,hp83_usd2021_pc,hp9_usd2021_pc,hpnec_usd2021_pc,hk_usd2021_pc,hk_gghed_usd2021_pc,hk_ext_usd2021_pc,hk_pvtd_usd2021_pc,gdp_usd2021_pc,pfc_usd2021_pc,gge_usd2021_pc
0,Algeria,DZA,AFR,Lower-middle,2000,3.489033,62.117695,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2945.867531,1224.640748,842.506683
1,Algeria,DZA,AFR,Lower-middle,2001,3.837877,67.338501,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2992.791596,1308.173696,944.833886
2,Algeria,DZA,AFR,Lower-middle,2002,3.730042,66.947601,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3118.055411,1371.439734,1098.054222

In [13]:
df1.shape

(4244, 3923)

In [14]:
df1.sample(10)

,country,code,region,income,year,che_gdp,che_pc_usd,hk_gdp,hk_g_gdp,hk_ext_gdp,...,hp83_usd2021_pc,hp9_usd2021_pc,hpnec_usd2021_pc,hk_usd2021_pc,hk_gghed_usd2021_pc,hk_ext_usd2021_pc,hk_pvtd_usd2021_pc,gdp_usd2021_pc,pfc_usd2021_pc,gge_usd2021_pc
1771,Uruguay,URY,AMR,High,2008,8.125332,803.442261,0.288156,NaN,NaN,...,NaN,NaN,NaN,37.809488,NaN,NaN,NaN,13121.198436,8380.068345,3464.583757
2388,Belgium,BEL,EUR,High,2009,10.321179,4638.438965,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46748.634849,24016.098197,25562.499776
141,Cabo Verde,CPV,AFR,Lower-middle,2009,3.881524,127.799149,0.359804,NaN,NaN,...,NaN,NaN,NaN,11.251441,NaN,NaN,NaN,3127.103247,1998.494659,1045.014345
3056,Portugal,PRT,EUR,High,2006,9.350000,1858.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23046.000000,14885.000000,10427.000000
395,Ethiopia,ETH,AFR,Low,2021,3.208244,26.477352,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,825.291061,595.957660,113.870319
3656,Australia,AUS,WPR,High,2008,8.248551,4107.012695,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59723.453637,32249.768114,22822.091805
726,Niger,NER,AFR,Low,2000,4.658915,8.956717,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,452.511444,327.687205,61.104348
4141,Solomon Islands,SLB,WPR,Lower-middle,2007,7.182988,88.286499,0.000000,NaN,0.0,...,NaN,NaN,NaN,0.000000,NaN,0.0,NaN,2065.179202,1430.874162,786.734934
3626,Timor-Leste,TLS,SEAR,Lower-middle,2000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2818,Kyrgyzstan,KGZ,EUR,Lower-middle,2014,7.360000,95.000000,0.020000,NaN,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,1291.000000,1106.000000,497.000000

In [15]:
df1.columns

Index(['country', 'code', 'region', 'income', 'year', 'che_gdp', 'che_pc_usd',
       'hk_gdp', 'hk_g_gdp', 'hk_ext_gdp',
       ...
       'hp83_usd2021_pc', 'hp9_usd2021_pc', 'hpnec_usd2021_pc',
       'hk_usd2021_pc', 'hk_gghed_usd2021_pc', 'hk_ext_usd2021_pc',
       'hk_pvtd_usd2021_pc', 'gdp_usd2021_pc', 'pfc_usd2021_pc',
       'gge_usd2021_pc'],
      dtype='object', length=3923)

In [16]:
# List of columns to keep
columns_to_keep = ['country', 'code', 'region', 'income', 'year', 'che_gdp', 'che_pc_usd']

# Delete all columns except the specified ones
df1_f1 = df1[columns_to_keep]

In [17]:
df1_f1.columns

Index(['country', 'code', 'region', 'income', 'year', 'che_gdp', 'che_pc_usd'], dtype='object')

In [18]:
df1_f1['year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022])

In [19]:
df1_f1.dtypes

country        object
code           object
region         object
income         object
year            int64
che_gdp       float64
che_pc_usd    float64
dtype: object

In [20]:
# change 'year' to date_time format, round che_gdp
df1_f1['year'] = pd.to_datetime(df1_f1['year'], format='%Y')
df1_f1['che_gdp'] = df1_f1['che_gdp'].round(2)

# Format 'che' to display without exponential notation and round it
#pd.options.display.float_format = '{:.2f}'.format
df1_f1.loc[:, 'che_pc_usd'] = df1_f1['che_pc_usd'].round(2)

In [21]:
df1_f1['year'] = df1_f1['year'].dt.year

In [22]:
df1_f1

       country code region        income  year  che_gdp  che_pc_usd
0      Algeria  DZA    AFR  Lower-middle  2000     3.49       62.12
1      Algeria  DZA    AFR  Lower-middle  2001     3.84       67.34
2      Algeria  DZA    AFR  Lower-middle  2002     3.73       66.95
3      Algeria  DZA    AFR  Lower-middle  2003     3.60       76.24
4      Algeria  DZA    AFR  Lower-middle  2004     3.54       93.02
...        ...  ...    ...           ...   ...      ...         ...
4239  Viet Nam  VNM    WPR  Lower-middle  2017     4.99      149.31
4240  Viet Nam  VNM    WPR  Lower-middle  2018     5.03      164.24
4241  Viet Nam  VNM    WPR  Lower-middle  2019     4.97      173.65
4242  Viet Nam  VNM    WPR  Lower-middle  2020     4.30      154.24
4243  Viet Nam  VNM    WPR  Lower-middle  2021     4.59      172.55

[4244 rows x 7 columns]

---
---

# Health-Enhancing Physical Activity

https://gateway.euro.who.int/en/datasets/hepa/Health  
Health-Enhancing Physical Activity

HEPA_1: Recommendations on physical activity  
HEPA_2: Levels of physical activity in adults  
HEPA_3: Levels of physical activity in children and adolescents  
HEPA_4: Coordination mechanism on HEPA promotion  
HEPA_5: Funding for HEPA promotion  
HEPA_6: Sports for All  
HEPA_7: Sports Club for Health  
HEPA_8: Access for socially disadvantaged groups  
HEPA_9: Special target groups  
HEPA_10: Surveillance of physical activity in health  
HEPA_11: Counselling on physical activity  
HEPA_12: Training of health professionals  
HEPA_13: Physical education in schools  
HEPA_14: Physical activity promotion in schools  
HEPA_15: Training of physical education teachers  
HEPA_16: Active travel to school  
HEPA_17: Level of cycling and walking  
HEPA_18: Infrastructures for leisure-time physical activity  
HEPA_19: Active travel to work  
HEPA_20: Physical activity at the workplace  
HEPA_21: Community interventions for older adults  
HEPA_22: Evaluation of HEPA policies  
HEPA_23: Awareness campaign on physical activity

## Metadata

In [23]:
df2 = pd.read_excel('data/HEPA Metadata.xlsx', sheet_name=5)
df2.shape

(24, 3)

In [24]:
pd.set_option('display.max_colwidth', None)
# pd.reset_option('display.max_colwidth')

In [25]:
df2.tail(15)

,Measure code,Country code,Note
9,HEPA_10,NaN,This indicator represents the response to the EU HEPA Indicator 10: Does the country have an established physical activity surveillance or monitoring system in the health sector? Response options: Yes; No
10,HEPA_11,NaN,This indicator represents the response to the EU HEPA Indicator 11: Is there any national guidance or programme to promote counselling on physical activity or exercise prescription by health professionals in the country? Response options: Yes; No
11,HEPA_12,NaN,"This indicator represents the response to the EU HEPA Indicator 12: Is physical activity and health (health effects, determinants, effective interventions, etc.) taught in the curriculum of health professionals (e.g., nurses, medical doctors, physiotherapists, etc.)? Response options: Yes; No"
12,HEPA_13,NaN,This indicator represents the response to the EU HEPA Indicator 13: Does the country schools (primary and secondary) offer physical education classes? Response options: Yes; No
13,HEPA_14,NaN,This indicator represents the response to the EU HEPA Indicator 14: Is there any national guidance or programme for school-related physical activity promotion (active school breaks; active breaks during school lessons; after-school physical activity for health promotion programmes)? Response options: Yes; No
14,HEPA_15,NaN,"This indicator represents the response to the EU HEPA Indicator 15: Is physical activity and health (health effects, determinants, effective interventions, etc.) taught in the curriculum of physical education teachers? Response options: Yes; No"
15,HEPA_16,NaN,"This indicator represents the response to the EU HEPA Indicator 16: Is there any national guidance or programme to promote active travel to school (e.g. walking buses, cycling)? Response options: Yes; No"
16,HEPA_17,NaN,"This indicator represents the response to the EU HEPA Indicator 17: Does the country have a national travel survey, which includes walking and/or cycling? Response options: Yes; No"
17,HEPA_18,NaN,"This indicator represents the response to the EU HEPA Indicator 18: Are the ""European Guidelines for Improving Infrastructures for Leisure-Time Physical Activity"" applied systematically in the country to develop infrastructure for leisure-time physical activity?Response options: Yes; No"
18,HEPA_19,NaN,"This indicator represents the response to the EU HEPA Indicator 19: Is there any national guidance or programme to promote active travel to work (e.g., walking, cycling) in your country? Response options: Yes; No"
19,HEPA_20,NaN,This indicator represents the response to the EU HEPA Indicator 20: Is there any national guidance or programme to promote physical activity at the workplace in the country? Response options: Yes; No
20,HEPA_21,NaN,This indicator represents the response to the EU HEPA Indicator 21: Is there any national guidance or programme for community-based interventions to promote physical activity in older adults in the country? Response options: Yes; No
21,HEPA_22,NaN,This indicator represents the response to the EU HEPA Indicator 22: Does the country have at least one national HEPA policy or action plan with an evaluation plan? Response options: Yes; No
22,HEPA_23,NaN,"This indicator represents the response to the EU HEPA Indicator 23: Does a clearly formulated, national campaign for physical activity education and public awareness raising exist in the country? Response options: Yes; No"
23,HEPA_24,NaN,NaN

## Data

In [26]:
df3 = pd.read_csv('data/HEPA Data (table).csv')

In [27]:
df3.shape

(2016, 5)

In [28]:
df3

     Measure code YES_NO COUNTRY_REGION  YEAR  VALUE
0          HEPA_1    YES            AUT  2015    1.0
1          HEPA_1    YES            AUT  2018    1.0
2          HEPA_1    YES            AUT  2021    1.0
3          HEPA_1    YES            BEL  2015    1.0
4          HEPA_1    YES            BEL  2018    1.0
...           ...    ...            ...   ...    ...
2011      HEPA_24    NaN            SVN  2018   78.0
2012      HEPA_24    NaN            SVN  2021   78.0
2013      HEPA_24    NaN            SWE  2015   57.0
2014      HEPA_24    NaN            SWE  2018   96.0
2015      HEPA_24    NaN            SWE  2021   91.0

[2016 rows x 5 columns]

In [29]:
df3.dtypes

Measure code       object
YES_NO             object
COUNTRY_REGION     object
YEAR                int64
VALUE             float64
dtype: object

In [30]:
# delete HEPA_24 rows

df3_f1 = df3[~df3['Measure code'].str.contains('HEPA_24', na=False)]

In [31]:
df3_f1

     Measure code YES_NO COUNTRY_REGION  YEAR  VALUE
0          HEPA_1    YES            AUT  2015    1.0
1          HEPA_1    YES            AUT  2018    1.0
2          HEPA_1    YES            AUT  2021    1.0
3          HEPA_1    YES            BEL  2015    1.0
4          HEPA_1    YES            BEL  2018    1.0
...           ...    ...            ...   ...    ...
1927      HEPA_23    YES            SVN  2018    1.0
1928      HEPA_23    YES            SVN  2021    1.0
1929      HEPA_23     NO            SWE  2015    0.0
1930      HEPA_23    YES            SWE  2018    1.0
1931      HEPA_23    YES            SWE  2021    1.0

[1932 rows x 5 columns]

In [32]:
df3_f1['YEAR'].unique()

array([2015, 2018, 2021])

---
---

# European Health for All: HFA

  https://gateway.euro.who.int/en/datasets/european-health-for-all-database/  
  European Health for All database (HFA-DB)

## Metadata

In [33]:
df4_1 = pd.read_excel('data/HFA Metadata.xlsx', sheet_name=1)
df4_1.head(20)

,HFA part 1,Unnamed: 1,Unnamed: 2,HFA part 2,Unnamed: 4,Unnamed: 5,HFA part 3,Unnamed: 7
0,Code,Label,NaN,Code,Label,NaN,Code,Label
1,HFA_1,"Mid-year population, by sex",NaN,HFA_223,"Bronchitis/emphysema/asthma, all ages, per 100 000, females (age-standardized death rate)",NaN,HFA_535,Number of all hospital discharges
2,HFA_2,Mid-year male population,NaN,HFA_224,"Bronchitis/emphysema/asthma, 0–64, per 100 000, by sex (age-standardized death rate)",NaN,HFA_536,Acute care hospital discharges per 100
3,HFA_3,Mid-year female population,NaN,HFA_225,"Bronchitis/emphysema/asthma, 0–64, per 100 000, males (age-standardized death rate)",NaN,HFA_537,Number of acute care hospital discharges
4,HFA_10,"% of population aged 0–14 years, by sex",NaN,HFA_226,"Bronchitis/emphysema/asthma, 0–64, per 100 000, females (age-standardized death rate)",NaN,HFA_538,Inpatient surgical procedures per year per 100 000
5,HFA_11,"% of population aged 0–14 years, males",NaN,HFA_227,"Diseases of digestive system, all ages, per 100 000, by sex (age-standardized death rate)",NaN,HFA_539,Total number of inpatient surgical procedures per year
6,HFA_12,"% of population aged 0–14 years, females",NaN,HFA_228,"Diseases of digestive system, all ages, per 100 000, males (age-standardized death rate)",NaN,HFA_540,"Average length of stay, all hospitals"
7,HFA_13,"% of population aged 65+ years, by sex",NaN,HFA_229,"Diseases of digestive system, all ages, per 100 000, females (age-standardized death rate)",NaN,HFA_541,"Average length of stay, acute care hospitals only"
8,HFA_14,"% of population aged 65+ years, males",NaN,HFA_230,"Diseases of digestive system, 0–64, per 100 000, by sex (age-standardized death rate)",NaN,HFA_542,"Bed occupancy rate (%), acute care hospitals only"
9,HFA_15,"% of population aged 65+ years, females",NaN,HFA_231,"Diseases of digestive system, 0–64, per 100 000, males (age-standardized death rate)",NaN,HFA_543,Outpatient contacts per person per year
10,HFA_16,"Live births per 1000 population, by sex",NaN,HFA_232,"Diseases of digestive system, 0–64, per 100 000, females (age-standardized death rate)",NaN,HFA_544,Autopsy rate (%) for hospital deaths
11,HFA_17,"Live births per 1000 population, males",NaN,HFA_233,"Diseases of digestive system, 65+, per 100 000, by sex (age-standardized death rate)",NaN,HFA_545,Autopsy rate (%) for all deaths
12,HFA_18,"Live births per 1000 population, females",NaN,HFA_234,"Diseases of digestive system, 65+, per 100 000, males (age-standardized death rate)",NaN,HFA_546,"Surgical wound infection rate (%), all operations"
13,HFA_19,"Number of live births, by sex",NaN,HFA_235,"Diseases of digestive system, 65+, per 100 000, females (age-standardized death rate)",NaN,HFA_547,"Appendicitis, 0–64, per 100 000, by sex (age-standardized death rate)"
14,HFA_20,"Number of live births, males",NaN,HFA_236,"Chronic liver disease and cirrhosis, all ages, per 100 000, by sex (age-standardized death rate)",NaN,HFA_548,"Appendicitis, 0–64, per 100 000, males (age-standardized death rate)"
15,HFA_21,"Number of live births, females",NaN,HFA_237,"Chronic liver disease and cirrhosis, all ages, per 100 000, males (age-standardized death rate)",NaN,HFA_549,"Appendicitis, 0–64, per 100 000, females (age-standardized death rate)"
16,HFA_22,"Crude death rate per 1000 population, by sex",NaN,HFA_238,"Chronic liver disease and cirrhosis, all ages, per 100 000, females (age-standardized death rate)",NaN,HFA_550,"Appendicitis, all ages, per 100 000, by sex (age-standardized death rate)"
17,HFA_23,"Crude death rate per 1000 population, males",NaN,HFA_239,"Chronic liver disease and cirrhosis, 0–64, per 100 000, by sex (age-standardized death rate)",NaN,HFA_551,"Appendicitis, all ages, per 100 000, males (age-standardized death rate)"
18,HFA_24,"Crude death rate per 1000 population, females",NaN,HFA_240,"Chronic liver disease and cirrhosis, 0–64, per 100 000, males (age-standardized death rate)",NaN,HFA_552,"Appendicitis, all ages, per 100 000, females (age-standardized death rate)"
19,HFA_25,Total fertility rate,NaN,HFA_241,"Chronic liver disease and cirrhosis, 0–64, per 100 000, females (age-standardized death rate)",NaN,HFA_553,"Hernia and intestinal obstruction, 0–64, per 100 000, by sex (age-standardized death rate)"

In [34]:
df5 = pd.read_excel('data/HFA Metadata.xlsx', sheet_name=3)
df5.head(30)

,Measure labels,Unnamed: 1,Unnamed: 2
0,Code,Label,NaN
1,HFA_1,"Mid-year population, by sex",NaN
2,HFA_2,Mid-year male population,NaN
3,HFA_3,Mid-year female population,NaN
4,HFA_10,"% of population aged 0–14 years, by sex",NaN
5,HFA_11,"% of population aged 0–14 years, males",NaN
6,HFA_12,"% of population aged 0–14 years, females",NaN
7,HFA_13,"% of population aged 65+ years, by sex",NaN
8,HFA_14,"% of population aged 65+ years, males",NaN
9,HFA_15,"% of population aged 65+ years, females",NaN
10,HFA_16,"Live births per 1000 population, by sex",NaN
11,HFA_17,"Live births per 1000 population, males",NaN
12,HFA_18,"Live births per 1000 population, females",NaN
13,HFA_19,"Number of live births, by sex",NaN
14,HFA_20,"Number of live births, males",NaN
15,HFA_21,"Number of live births, females",NaN
16,HFA_22,"Crude death rate per 1000 population, by sex",NaN
17,HFA_23,"Crude death rate per 1000 population, males",NaN
18,HFA_24,"Crude death rate per 1000 population, females",NaN
19,HFA_25,Total fertility rate,NaN
20,HFA_26,% of urban population,NaN
21,HFA_27,Average population density per km2,NaN
22,HFA_28,Area (km2),NaN
23,HFA_29,Unemployment rate (%),NaN
24,HFA_30,Labour force as % of population,NaN
25,HFA_31,Annual average rate of inflation (%),NaN
26,HFA_32,"Gross national income, US$ per capita",NaN
27,HFA_33,"Gross domestic product (GDP), US$ per capita",NaN
28,HFA_34,"Real gross domestic product, purchasing power parity (USD) per capita",NaN
29,HFA_35,Total government expenditure as % of GDP,NaN

In [35]:
df5.shape

(716, 3)

## Data

In [36]:
df6 = pd.read_csv('data/HFA Data (pivoted) part 1.csv', low_memory=False)
df7 = pd.read_csv('data/HFA Data (pivoted) part 2.csv', low_memory=False)
df8 = pd.read_csv('data/HFA Data (pivoted) part 3.csv', low_memory=False)
print(df5.shape, df6.shape, df7.shape)

(716, 3) (13389, 83) (17518, 67)

In [37]:
df6.sample(10)

,Measure code,SEX,COUNTRY_REGION,1949,1950,1951,1952,1953,1954,1955,...,2019,2020,2021,2022,2025,2030,2035,2040,2045,2050
2116,HFA_40,ALL,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
707,HFA_18,FEMALE,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10072,HFA_169,FEMALE,MKD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.56,0.48,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6450,HFA_111,MALE,BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3070,HFA_56,MALE,DEU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.39,18.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9093,HFA_153,MALE,CHE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8562,HFA_145,FEMALE,CYP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.44,7.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9559,HFA_161,ALL,FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8885,HFA_150,MALE,ITA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3873,HFA_69,FEMALE,FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# delete male-female and other rows to better see the data that's in there

HFAp1_to_delete = ['HFA_2', 'HFA_3', 'HFA_11', 'HFA_12', 'HFA_14', 'HFA_15', 
                 'HFA_17', 'HFA_18', 'HFA_20', 'HFA_21', 'HFA_23', 'HFA_24', 
                 'HFA_25', 'HFA_28', 'HFA_31', 'HFA_32', 'HFA_34', 'HFA_35', 
                 'HFA_37', 'HFA_38', 'HFA_39', 'HFA_40', 'HFA_41', 'HFA_42', 
                 'HFA_44', 'HFA_45', 'HFA_46', 'HFA_47', 'HFA_48', 'HFA_48',
                 'HFA_49', 'HFA_50', 'HFA_51', 'HFA_52', 'HFA_53', 'HFA_54', 
                 'HFA_55', 'HFA_56', 'HFA_57', 'HFA_58', 'HFA_59', 'HFA_60', 
                 'HFA_61', 'HFA_62', 'HFA_63', 'HFA_64', 'HFA_67', 'HFA_68', 
                 'HFA_69', 'HFA_70', 'HFA_71', 'HFA_72', 'HFA_73', 'HFA_74', 
                 'HFA_75', 'HFA_76', 'HFA_77', 'HFA_78', 'HFA_79', 'HFA_80',
                 'HFA_81', 'HFA_82', 'HFA_83', 'HFA_84', 'HFA_85', 'HFA_86', 
                 'HFA_87', 'HFA_88', 'HFA_89', 'HFA_90', 'HFA_91', 'HFA_92', 
                 'HFA_93', 'HFA_94', 'HFA_95', 'HFA_96', 'HFA_97', 'HFA_98', 
                 'HFA_99', 'HFA_100', 'HFA_102', 'HFA_103', 'HFA_104', 'HFA_105', 
                 'HFA_106', 'HFA_107', 'HFA_108', 'HFA_109', 'HFA_110', 'HFA_111', 
                 'HFA_112', 'HFA_113', 'HFA_114', 'HFA_115', 'HFA_117', 'HFA_118', 
                 'HFA_119', 'HFA_120', 'HFA_121', 'HFA_122', 'HFA_123', 'HFA_124', 
                 'HFA_125', 'HFA_126', 'HFA_127', 'HFA_129', 'HFA_130', 'HFA_131', 
                 'HFA_132', 'HFA_133', 'HFA_134', 'HFA_135', 'HFA_136', 'HFA_137',  
                 'HFA_138', 'HFA_139', 'HFA_140', 'HFA_141', 'HFA_142', 'HFA_143', 
                 'HFA_144', 'HFA_145', 'HFA_146', 'HFA_147', 'HFA_148', 'HFA_149', 
                 'HFA_150', 'HFA_151', 'HFA_152', 'HFA_153', 'HFA_154', 'HFA_155', 
                 'HFA_156', 'HFA_157', 'HFA_158', 'HFA_159', 'HFA_160', 'HFA_161', 
                 'HFA_162', 'HFA_163', 'HFA_164', 'HFA_165', 'HFA_166', 'HFA_168', 
                 'HFA_169', 'HFA_170', 'HFA_171', 'HFA_172', 'HFA_173', 'HFA_174', 
                 'HFA_175', 'HFA_177', 'HFA_178', 'HFA_179', 'HFA_180', 'HFA_181', 
                 'HFA_182', 'HFA_183', 'HFA_184', 'HFA_186', 'HFA_187', 'HFA_188', 
                 'HFA_189', 'HFA_190', 'HFA_191', 'HFA_192', 'HFA_193', 'HFA_195', 
                 'HFA_196', 'HFA_197', 'HFA_198', 'HFA_199', 'HFA_200', 'HFA_201', 
                 'HFA_202', 'HFA_204', 'HFA_205', 'HFA_206', 'HFA_207', 'HFA_208', 
                 'HFA_209', 'HFA_210', 'HFA_211', 'HFA_212', 'HFA_213', 'HFA_214', 
                 'HFA_215', 'HFA_216', 'HFA_217', 'HFA_218', 'HFA_219', 'HFA_220',
                 'HFA_221', 'HFA_222']
df6_f1 = df6[~df6['Measure code'].str.contains('|'.join(HFAp1_to_delete), na=False)]

In [39]:
df6_f1.sample(30)

,Measure code,SEX,COUNTRY_REGION,1949,1950,1951,1952,1953,1954,1955,...,2019,2020,2021,2022,2025,2030,2035,2040,2045,2050
37,HFA_1,ALL,MDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2664974.00,2635412.50,2615469.08,3272996.0,NaN,NaN,NaN,NaN,NaN,NaN
27,HFA_1,ALL,LTU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2794137.00,2794885.00,2808380.00,2750055.0,NaN,NaN,NaN,NaN,NaN,NaN
2302,HFA_43,ALL,EU_BEFORE_FEB2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81.51,80.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,HFA_10,ALL,GEO,NaN,27.90,27.40,26.80,26.20,25.80,25.70,...,20.34,20.47,20.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,HFA_13,ALL,GEO,NaN,9.30,9.10,8.90,8.70,8.50,8.30,...,14.98,15.18,15.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11642,HFA_194,ALL,CARINFONET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11635,HFA_194,ALL,CHE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,409.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11610,HFA_194,ALL,ISL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,444.44,444.77,439.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,HFA_10,ALL,AND,NaN,23.10,23.10,23.30,23.30,23.60,24.20,...,13.31,12.93,13.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,HFA_16,ALL,ESP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.62,7.19,7.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2258,HFA_43,ALL,EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11608,HFA_194,ALL,GRC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,509.49,526.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9923,HFA_167,ALL,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9958,HFA_167,ALL,SVN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.59,4.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,HFA_19,ALL,MDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32423.00,30834.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
793,HFA_19,ALL,MLT,NaN,10281.00,9511.00,9226.00,8977.00,8991.00,8560.00,...,4350.00,4414.00,4395.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,HFA_13,ALL,AND,NaN,10.00,10.10,10.60,10.90,10.50,9.70,...,15.11,15.46,14.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584,HFA_16,ALL,DNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.61,10.51,10.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
821,HFA_19,ALL,EU_MEMBERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4122548.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,HFA_16,ALL,HUN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.12,9.45,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11603,HFA_194,ALL,EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9936,HFA_167,ALL,ISL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.17,3.26,2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,HFA_1,ALL,GBR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,66796807.00,67081234.00,67281039.00,67508936.0,NaN,NaN,NaN,NaN,NaN,NaN
5885,HFA_101,ALL,WESTERN_BALKANS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,374.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,HFA_13,ALL,EU_MEMBERS,NaN,8.60,8.67,8.76,8.85,8.97,9.06,...,20.55,20.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,HFA_13,ALL,SVK,NaN,6.60,6.60,6.60,6.70,6.60,6.60,...,16.31,16.80,17.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,HFA_13,ALL,LTU,NaN,8.60,8.20,7.90,7.60,7.50,7.50,...,19.83,19.91,19.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,HFA_10,ALL,GBR,NaN,22.39,22.62,22.70,22.78,22.87,22.95,...,17.91,17.86,17.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11615,HFA_194,ALL,KGZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,HFA_1,ALL,CARINFONET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72595581.00,72719247.00,75744984.00,77108832.0,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df6_f1['SEX'].unique

<bound method Series.unique of 0        ALL
1        ALL
2        ALL
3        ALL
4        ALL
        ...
11648    ALL
11649    ALL
11650    ALL
11651    ALL
11652    ALL
Name: SEX, Length: 569, dtype: object>

In [41]:
df6_f1.columns

Index(['Measure code', 'SEX', 'COUNTRY_REGION', '1949', '1950', '1951', '1952',
       '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2025', '2030',
       '2035', '2040', '2045', '2050'],
      dtype='object')

In [42]:
# List of columns to keep
columns_to_keep = ['Measure code', 'COUNTRY_REGION', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022']

# Delete all columns except the specified ones
df6_f2 = df6_f1[columns_to_keep].reset_index(drop=True)

In [43]:
df6_f2.columns = df6_f2.columns.str.lower()
df6_f2

,measure code,country_region,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,HFA_1,ALB,3114000.00,3069275.00,3084150.00,3102764.00,3127263.00,3011490.00,2992551.00,2970021.00,...,2896655.00,2889676.00,2889173.00,2903700.00,2870324.00,2862427.00,2862427.00,2862427.00,2811666.0,2842321.0
1,HFA_1,AND,65907.00,66087.00,66744.00,69739.50,74597.50,77712.00,79885.00,82179.00,...,76172.00,72785.00,77481.00,77872.00,79236.00,80242.00,81011.00,81011.00,79034.0,79824.0
2,HFA_1,ARM,3226899.00,3215312.00,3212878.00,3211267.00,3214030.00,3217534.00,3230086.00,3226520.00,...,3021979.00,3006154.00,3004588.00,3026048.00,2979442.00,2969001.00,2962482.00,2961473.00,2962309.0,2780469.0
3,HFA_1,AUT,8011566.00,8042293.00,8082121.00,8118245.00,8169441.00,8225278.00,8267948.00,8295189.00,...,8477230.00,8543932.00,8629519.00,8739806.00,8795073.00,8837707.00,8877637.00,8916845.00,8951520.0,8939617.0
4,HFA_1,AZE,8048600.00,8111200.00,8171950.00,8234100.00,8306500.00,8391850.00,8609450.00,8581300.00,...,9416800.00,9629779.00,9649300.00,9757790.50,9854050.00,9854050.00,9854050.00,9854050.00,10312992.0,10358074.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,HFA_194,NORDIC,667.15,656.66,656.60,636.84,615.76,601.71,591.23,586.29,...,523.08,507.67,508.84,500.04,493.67,492.71,484.53,484.13,NaN,NaN
565,HFA_194,SEEHN,1062.52,1025.07,1052.62,1044.02,1003.91,1001.10,961.51,929.15,...,807.18,808.73,814.41,795.66,790.48,779.96,769.23,NaN,NaN,NaN
566,HFA_194,SMALL,716.97,705.61,715.48,719.84,683.50,684.37,667.92,653.67,...,544.45,533.86,541.98,515.99,521.00,NaN,495.36,NaN,NaN,NaN
567,HFA_194,WESTERN_BALKANS,1049.96,969.48,996.89,1004.98,978.29,964.89,921.93,895.21,...,NaN,NaN,NaN,810.68,812.20,NaN,790.54,NaN,NaN,NaN
568,HFA_194,WHO_EURO,945.56,930.32,939.65,947.93,910.46,908.71,867.18,844.11,...,725.03,716.17,713.36,697.43,689.92,682.78,668.24,NaN,NaN,NaN

In [44]:
df7

,Measure code,SEX,PLACE_RESIDENCE,COUNTRY_REGION,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,HFA_223,FEMALE,NaN,ALB,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HFA_223,FEMALE,NaN,ARM,NaN,NaN,NaN,NaN,NaN,NaN,...,2.13,1.71,2.47,1.53,0.88,0.50,0.55,NaN,NaN,NaN
2,HFA_223,FEMALE,NaN,AUT,NaN,NaN,NaN,NaN,NaN,NaN,...,2.95,2.10,2.85,2.44,2.66,3.14,2.94,2.42,1.91,NaN
3,HFA_223,FEMALE,NaN,AZE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HFA_223,FEMALE,NaN,BLR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.69,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17513,HFA_534,ALL,NaN,NORDIC,NaN,NaN,NaN,NaN,NaN,NaN,...,16.66,16.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17514,HFA_534,ALL,NaN,SEEHN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.58,18.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17515,HFA_534,ALL,NaN,SMALL,NaN,NaN,NaN,NaN,NaN,NaN,...,12.07,12.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17516,HFA_534,ALL,NaN,WESTERN_BALKANS,NaN,NaN,NaN,NaN,NaN,NaN,...,12.74,12.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17517,HFA_534,ALL,NaN,WHO_EURO,NaN,NaN,NaN,NaN,NaN,NaN,...,17.95,17.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# choose indicators to keep
HFAp2_to_keep = ['HFA_260', 'HFA_275', 'HFA_293', 'HFA_357', 'HFA_411', 
                 'HFA_417', 'HFA_436', 'HFA_440', 'HFA_441', 'HFA_442', 
                 'HFA_443', 'HFA_444', 'HFA_445', 'HFA_446', 'HFA_454']

df7_f1 = df7.loc[df7['Measure code'].isin(HFAp2_to_keep)]

In [46]:
df7_f1.columns

Index(['Measure code', 'SEX', 'PLACE_RESIDENCE', 'COUNTRY_REGION', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')

In [47]:
# List of columns to keep
columns_to_keep = ['Measure code', 'COUNTRY_REGION', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022']

# Delete all columns except the specified ones
df7_f2 = df7_f1[columns_to_keep].reset_index(drop=True)

In [48]:
df7_f2.columns = df7_f2.columns.str.lower()
df7_f2

,measure code,country_region,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,HFA_260,ALB,20.69,22.55,20.94,24.21,25.83,23.78,22.83,18.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HFA_260,ARM,6.74,7.55,9.36,7.57,NaN,NaN,NaN,NaN,...,3.69,4.03,4.50,5.44,5.99,5.93,7.29,NaN,NaN,NaN
2,HFA_260,AUT,14.51,15.30,23.09,26.46,22.50,22.03,22.44,22.82,...,29.86,27.03,29.14,29.77,34.80,37.33,36.68,36.12,38.12,NaN
3,HFA_260,AZE,12.56,15.32,12.64,15.30,8.34,NaN,NaN,24.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HFA_260,BLR,13.42,14.60,18.12,15.02,14.34,15.67,NaN,16.14,...,27.87,32.47,NaN,NaN,NaN,55.45,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,HFA_454,NORDIC,731.36,697.52,687.18,639.33,630.79,646.70,650.89,634.61,...,511.06,508.71,511.43,504.33,505.00,504.33,513.38,529.47,NaN,NaN
885,HFA_454,SEEHN,231.97,212.39,214.79,195.50,204.01,199.17,195.09,201.54,...,NaN,NaN,NaN,NaN,NaN,NaN,189.19,177.85,NaN,NaN
886,HFA_454,SMALL,1676.04,1669.84,1677.93,1665.52,1626.70,1420.96,1450.00,1409.03,...,798.85,810.13,808.92,817.19,804.67,836.68,838.98,666.68,NaN,NaN
887,HFA_454,WESTERN_BALKANS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,HFA_454,WHO_EURO,688.55,665.11,609.81,604.24,583.88,584.87,588.12,589.56,...,448.52,445.37,442.95,452.06,465.91,474.20,471.93,425.68,NaN,NaN

In [49]:
df8.head(10)

,Measure code,SEX,YES_NO,COUNTRY_REGION,1959,1960,1961,1962,1963,1964,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2025
0,HFA_535,ALL,NaN,ALB,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HFA_535,ALL,NaN,AND,NaN,NaN,NaN,NaN,NaN,NaN,...,8034.0,8044.0,8097.0,8290.0,8482.0,7601.0,NaN,NaN,NaN,NaN
2,HFA_535,ALL,NaN,ARM,NaN,NaN,NaN,NaN,NaN,NaN,...,406552.0,393540.0,399734.0,397633.0,406393.0,435470.0,394470.0,474039.0,NaN,NaN
3,HFA_535,ALL,NaN,AUT,NaN,NaN,NaN,NaN,NaN,NaN,...,2244340.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HFA_535,ALL,NaN,AZE,NaN,NaN,NaN,NaN,NaN,NaN,...,633572.0,629058.0,636481.0,640812.0,NaN,NaN,NaN,NaN,NaN,NaN
5,HFA_535,ALL,NaN,BLR,NaN,NaN,NaN,NaN,NaN,NaN,...,2880454.0,2944636.0,2943028.0,2944268.0,2928708.0,2928306.0,2327240.0,NaN,NaN,NaN
6,HFA_535,ALL,NaN,BEL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,HFA_535,ALL,NaN,BIH,NaN,NaN,NaN,NaN,NaN,NaN,...,442844.0,442533.0,451989.0,446525.0,456343.0,478431.0,NaN,NaN,NaN,NaN
8,HFA_535,ALL,NaN,BGR,NaN,NaN,NaN,NaN,NaN,NaN,...,2326318.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,HFA_535,ALL,NaN,HRV,NaN,NaN,NaN,NaN,NaN,NaN,...,742452.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
# choose indicators to keep
HFAp3_to_keep = ['HFA_546', 'HFA_566', 'HFA_617', 'HFA_618', 'HFA_625', 
                 'HFA_627', 'HFA_636', 'HFA_637']


df8_f1 = df8.loc[df8['Measure code'].isin(HFAp3_to_keep)]

In [51]:
df8_f1.columns

Index(['Measure code', 'SEX', 'YES_NO', 'COUNTRY_REGION', '1959', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2025'],
      dtype='object')

In [52]:
# List of columns to keep
columns_to_keep = ['Measure code', 'COUNTRY_REGION', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022']

# Delete all columns except the specified ones
df8_f2 = df8_f1[columns_to_keep].reset_index(drop=True)

In [53]:
df8_f2.columns = df8_f2.columns.str.lower()
df8_f2

,measure code,country_region,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,HFA_546,ARM,0.920000,0.690000,0.510000,0.440000,0.330000,0.360000,0.320000,0.250000,...,0.080000,0.080000,0.160000,0.100000,0.11,0.11,0.06,0.07,0.05,NaN
1,HFA_546,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HFA_546,BEL,0.980000,1.050000,1.150000,1.260000,1.320000,1.390000,1.470000,1.470000,...,1.480000,1.450000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HFA_546,BGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HFA_546,CZE,0.860000,0.780000,0.680000,0.650000,0.640000,0.430000,0.590000,0.770000,...,0.900000,0.850000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,HFA_637,EU_MEMBERS,19.195608,18.079493,18.763660,18.996503,19.453856,19.596705,18.297814,16.358706,...,26.634941,25.361893,23.458685,21.648566,NaN,NaN,NaN,NaN,NaN,NaN
438,HFA_637,NORDIC,13.348933,14.326671,15.055147,15.907037,17.064902,16.402677,15.247795,13.635041,...,17.440768,16.945624,16.441419,15.887948,NaN,NaN,NaN,NaN,NaN,NaN
439,HFA_637,SEEHN,25.936336,26.883874,28.962828,27.885472,29.537820,28.694955,28.588505,26.040809,...,28.934672,28.766164,26.644502,23.916094,NaN,NaN,NaN,NaN,NaN,NaN
440,HFA_637,SMALL,20.045859,20.385865,20.279656,22.377052,23.265535,22.887284,19.830990,16.959388,...,26.694203,25.897204,24.257946,22.810981,NaN,NaN,NaN,NaN,NaN,NaN
441,HFA_637,WHO_EURO,19.478313,18.406290,18.539355,18.915737,19.023761,18.613351,17.534590,15.922510,...,21.822276,21.420984,20.673887,19.728929,NaN,NaN,NaN,NaN,NaN,NaN

---
---

# SYB66

https://data.un.org/  
education: Education at the primary, secondary and tertiary levels  
 Labour market: Labour force and unemployment

## Education

In [54]:
df9 = pd.read_csv('data/SYB66_309_202310_Education.csv', 
                  encoding='iso-8859-1', low_memory = False)

In [55]:
df9.head(10)

,T07,"Enrollment in primary, lower secondary and upper secondary education levels",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2005,Students enrolled in primary education (thousands),"678,907",Estimate.,"United Nations Educational, Scientific and Cultural Organization (UNESCO), Montreal, the UNESCO Institute for Statistics (UIS) statistics database, last accessed April 2023."
2,1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (male),104.5,Estimate.,"United Nations Educational, Scientific and Cultural Organization (UNESCO), Montreal, the UNESCO Institute for Statistics (UIS) statistics database, last accessed April 2023."
3,1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.7,NaN,"United Nations Educational, Scientific and Cultural Organization (UNESCO), Montreal, the UNESCO Institute for Statistics (UIS) statistics database, last accessed April 2023."
4,1,"Total, all countries or areas",2005,Students enrolled in lower secondary education (thousands),"309,665",NaN,"United Nations Educational, Scientific and Cultural Organization (UNESCO), Montreal, the UNESCO Institute for Statistics (UIS) statistics database, last accessed April 2023."
5,1,"Total, all countries or areas",2005,Gross enrollment ratio - Lower secondary level (male),80.7,NaN,"United Nations Educational, Scientific and Cultural Organization (UNESCO), Montreal, the UNESCO Institute for Statistics (UIS) statistics database, last accessed April 2023."
6,1,"Total, all countries or areas",2005,Gross enrollment ratio - Lower secondary level (female),76.7,NaN,"United Nations Educational, Scientific and Cultural Organization (UNESCO), Montreal, the UNESCO Institute for Statistics (UIS) statistics database, last accessed April 2023."
7,1,"Total, all countries or areas",2005,Students enrolled in upper secondary education (thousands),"199,767",NaN,"United Nations Educational, Scientific and Cultural Organization (UNESCO), Montreal, the UNESCO Institute for Statistics (UIS) statistics database, last accessed April 2023."
8,1,"Total, all countries or areas",2005,Gross enrollment ratio - Upper secondary level (male),51.2,NaN,"United Nations Educational, Scientific and Cultural Organization (UNESCO), Montreal, the UNESCO Institute for Statistics (UIS) statistics database, last accessed April 2023."
9,1,"Total, all countries or areas",2005,Gross enrollment ratio - Upper secondary level (female),48.3,NaN,"United Nations Educational, Scientific and Cultural Organization (UNESCO), Montreal, the UNESCO Institute for Statistics (UIS) statistics database, last accessed April 2023."

In [56]:
df9['Unnamed: 2'].unique()

array(['Year', '2005', '2010', '2015', '2020', '2018', '2019', '2021',
       '2011', '2022', '2002', '2016', '2000', '2012', '2006', '2013',
       '2008', '2009', '2017', '2003', '2004', '2014', '2001', '2007'],
      dtype=object)

## Labor Force and Unemployment

In [57]:
df10 = pd.read_csv('data/SYB66_329_202310_Labour Force and Unemployment.csv', 
                   encoding='iso-8859-1', low_memory = False)

In [58]:
df10

,T17,Labour force participation and unemployment,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2005,Labour force participation - Total,62.9,Estimate.,"International Labour Organization (ILO), Geneva, Key Indicators of the Labour Market (KILM 9th edition) and the ILOSTAT database, last accessed May 2023."
2,1,"Total, all countries or areas",2005,Unemployment rate - Total,6.3,Estimate.,"International Labour Organization (ILO), Geneva, Key Indicators of the Labour Market (KILM 9th edition) and the ILOSTAT database, last accessed May 2023."
3,1,"Total, all countries or areas",2005,Labour force participation - Male,76.1,Estimate.,"International Labour Organization (ILO), Geneva, Key Indicators of the Labour Market (KILM 9th edition) and the ILOSTAT database, last accessed May 2023."
4,1,"Total, all countries or areas",2005,Unemployment rate - Male,6.2,Estimate.,"International Labour Organization (ILO), Geneva, Key Indicators of the Labour Market (KILM 9th edition) and the ILOSTAT database, last accessed May 2023."
...,...,...,...,...,...,...,...
5482,97,European Union (EU),2023,Unemployment rate - Total,6.3,Estimate.,"International Labour Organization (ILO), Geneva, Key Indicators of the Labour Market (KILM 9th edition) and the ILOSTAT database, last accessed May 2023."
5483,97,European Union (EU),2023,Labour force participation - Male,63.9,Estimate.,"International Labour Organization (ILO), Geneva, Key Indicators of the Labour Market (KILM 9th edition) and the ILOSTAT database, last accessed May 2023."
5484,97,European Union (EU),2023,Unemployment rate - Male,6.0,Estimate.,"International Labour Organization (ILO), Geneva, Key Indicators of the Labour Market (KILM 9th edition) and the ILOSTAT database, last accessed May 2023."
5485,97,European Union (EU),2023,Labour force participation - Female,51.7,Estimate.,"International Labour Organization (ILO), Geneva, Key Indicators of the Labour Market (KILM 9th edition) and the ILOSTAT database, last accessed May 2023."
5486,97,European Union (EU),2023,Unemployment rate - Female,6.7,Estimate.,"International Labour Organization (ILO), Geneva, Key Indicators of the Labour Market (KILM 9th edition) and the ILOSTAT database, last accessed May 2023."

---
---

# Export data

In [59]:
import sqlalchemy
import psycopg2
import sql_functions as sf

## Export tables to database (postgres)

In [60]:
df11 = pd.read_excel('data/HFA Metadata.xlsx', sheet_name=4)
df12 = pd.read_excel('data/HFA Metadata.xlsx', sheet_name=5)

In [61]:
SYB66_1_202310_Population_Surface_Area_Density = pd.read_csv('data/SYB66_1_202310_Population, Surface Area and Density.csv',
                                                             encoding='iso-8859-1', low_memory = False)
SYB66_325_202310_Expenditure_on_health = pd.read_csv('data/SYB66_325_202310_Expenditure on health.csv',
                                                     encoding='iso-8859-1', low_memory = False)
SYB66_245_202310_Public_expenditure_on_education = pd.read_csv('data/SYB66_245_202310_Public expenditure on education and access to computers.csv',
                                                               encoding='iso-8859-1', low_memory = False)

In [62]:
# dataframes = {'GHED_indicator_list_filtered': df_f2,
#     'GHED_data_or_filtered': df1_f1,
#     'HEPA_metadata': df2,
#     'HEPA_data_filtered': df3_f1,
#     'HFA_metadata_sh2_filtered': df4_1,
#     'HFA_metadata_sh4': df5,
#     'HFA_data_p1_filtered': df6_f2,
#     'HFA_data_p2_filtered': df7_f2,
#     'HFA_data_p3_filtered': df8_f2,
#     'SYB66_education': df9,
#     'SYB66_labor_unemployment': df10}

# for table_name, df in dataframes.items():
#     sf.push_to_cloud(df, table_name)

In [63]:
# dataframes_2 = {'HFA_metadata_sh5': df11,
#     'HFA_metadata_sh6': df12}

# for table_name, df in dataframes_2.items():
#     sf.push_to_cloud(df, table_name)

In [64]:
# dataframes_or = {'GHED_indicator_list': df,
#     'GHED_data_or': df1,
#     'HEPA_data': df3,
#     'HFA_data_p1': df6,
#     'HFA_data_p2': df7,
#     'HFA_data_p3': df8,}

# for table_name, df in dataframes_or.items():
#     sf.push_to_cloud(df, table_name)

In [65]:
# dataframes = {'SYB66_Population_Surface_Area_Density': SYB66_1_202310_Population_Surface_Area_Density,
#     'SYB66_Expenditure_on_health': SYB66_325_202310_Expenditure_on_health,
#     'SYB66_Public_expenditure_on_education': SYB66_245_202310_Public_expenditure_on_education}

# for table_name, df in dataframes.items():
#     sf.push_to_cloud(df, table_name)

## Storing DataFrames

### GHED

In [66]:
GHED_indicator_list_filtered = df_f2
GHED_data_or_filtered = df1_f1

%store GHED_indicator_list_filtered
%store GHED_data_or_filtered

Stored 'GHED_indicator_list_filtered' (DataFrame)
Stored 'GHED_data_or_filtered' (DataFrame)

In [67]:
GHED_indicator_list = df
GHED_data_or = df1

%store GHED_indicator_list
%store GHED_data_or

Stored 'GHED_indicator_list' (DataFrame)
Stored 'GHED_data_or' (DataFrame)

### HEPA

In [68]:
HEPA_metadata = df2
HEPA_data_filtered = df3_f1

%store HEPA_metadata
%store HEPA_data_filtered

Stored 'HEPA_metadata' (DataFrame)
Stored 'HEPA_data_filtered' (DataFrame)

In [69]:
HEPA_data = df3

%store HEPA_data

Stored 'HEPA_data' (DataFrame)

### HFA

In [70]:
HFA_metadata_sh2_filtered = df4_1
HFA_metadata_sh4 = df5
HFA_data_p1_filtered = df6_f2
HFA_data_p2_filtered = df7_f2
HFA_data_p3_filtered = df8_f2

%store HFA_metadata_sh2_filtered
%store HFA_metadata_sh4
%store HFA_data_p1_filtered
%store HFA_data_p2_filtered
%store HFA_data_p3_filtered

Stored 'HFA_metadata_sh2_filtered' (DataFrame)
Stored 'HFA_metadata_sh4' (DataFrame)
Stored 'HFA_data_p1_filtered' (DataFrame)
Stored 'HFA_data_p2_filtered' (DataFrame)
Stored 'HFA_data_p3_filtered' (DataFrame)

In [71]:
HFA_data_p1 = df6
HFA_data_p2 = df7
HFA_data_p3 = df8

%store HFA_data_p1
%store HFA_data_p2
%store HFA_data_p3

Stored 'HFA_data_p1' (DataFrame)
Stored 'HFA_data_p2' (DataFrame)
Stored 'HFA_data_p3' (DataFrame)

In [72]:
HFA_metadata_sh5 = df11
HFA_metadata_sh6 = df12

%store HFA_metadata_sh5
%store HFA_metadata_sh6

Stored 'HFA_metadata_sh5' (DataFrame)
Stored 'HFA_metadata_sh6' (DataFrame)

### SYB66

In [73]:
SYB66_education = df9
SYB66_labor_unemployment = df10

%store SYB66_education
%store SYB66_labor_unemployment

Stored 'SYB66_education' (DataFrame)
Stored 'SYB66_labor_unemployment' (DataFrame)

In [74]:
SYB66_Population_Surface_Area_Density = SYB66_1_202310_Population_Surface_Area_Density
SYB66_Expenditure_on_health = SYB66_325_202310_Expenditure_on_health
SYB66_Public_expenditure_on_education = SYB66_245_202310_Public_expenditure_on_education

%store SYB66_Population_Surface_Area_Density
%store SYB66_Expenditure_on_health
%store SYB66_Public_expenditure_on_education

Stored 'SYB66_Population_Surface_Area_Density' (DataFrame)
Stored 'SYB66_Expenditure_on_health' (DataFrame)
Stored 'SYB66_Public_expenditure_on_education' (DataFrame)