In [1]:
import pandas as pd
import numpy as np
import python_functions_sp as pfsp
import warnings
warnings.filterwarnings("ignore")
import sqlalchemy
import psycopg2
import sql_functions_sp as sfsp

In [2]:
schema = 'capstone_health_education'

hfa_continents = sfsp.get_dataframe(f'SELECT * FROM {schema}.hfa_melted_pivoted')

Changing the column name:

In [3]:
hfa_continents.rename(columns={'name': 'country'}, inplace=True)
hfa_continents

,country,years,HFA_1,HFA_10,HFA_101,HFA_13,HFA_16,HFA_167,HFA_19,HFA_194,...,HFA_445,HFA_446,HFA_454,HFA_546,HFA_566,HFA_617,HFA_618,HFA_627,HFA_636,HFA_637
0,Albania,2000,3114000.0,32.67,475.42,6.11,16.08,1.70,50077.0,918.11,...,172.72,227.30,NaN,NaN,2.0,NaN,3.49,46.0,64.93581,28.445999
1,Albania,2001,3069275.0,29.29,366.41,7.54,17.18,7.97,52715.0,702.69,...,172.34,246.32,NaN,NaN,2.1,NaN,5.52,46.6,NaN,27.930000
2,Albania,2002,3084150.0,28.85,397.94,7.67,14.44,7.55,44525.0,765.43,...,177.56,259.42,NaN,NaN,2.2,31.70,NaN,47.3,NaN,28.143000
3,Albania,2003,3102764.0,28.06,439.85,7.87,15.15,9.32,47012.0,847.17,...,159.25,277.22,NaN,NaN,2.3,NaN,7.61,48.0,NaN,28.237000
4,Albania,2004,3127263.0,26.90,417.70,8.21,13.76,8.74,43022.0,810.24,...,150.29,278.88,NaN,NaN,2.9,NaN,8.93,48.7,NaN,28.032000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,Western Balkans,2018,15975683.0,15.38,NaN,17.46,9.43,NaN,150754.0,NaN,...,147.47,304.65,NaN,NaN,NaN,34.42,NaN,NaN,NaN,NaN
1468,Western Balkans,2019,15926529.0,15.28,374.51,17.94,9.27,2.51,148171.0,790.54,...,148.48,306.74,NaN,NaN,NaN,33.04,NaN,NaN,NaN,NaN
1469,Western Balkans,2020,15880420.0,NaN,NaN,NaN,9.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,32.89,NaN,NaN,NaN,NaN
1470,Western Balkans,2021,15641571.0,NaN,NaN,NaN,9.07,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471,Western Balkans,2022,16017893.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---

## Splitting the countries into the continents
- northern america
- southern america
- europe (4 parts for further analysis)
- africa
- asia
- pacific
- middle-east

Assigning the continent to the countries in a new created column:

In [4]:
hfa_continents['continent'] = hfa_continents['country'].apply(pfsp.assign_continent)

Assigning the four parts of europe to the countries in another new created column:

In [5]:
hfa_continents['continent_region'] = hfa_continents['country'].apply(pfsp.assign_europe_region)

In [6]:
hfa_continents.columns

Index(['country', 'years', 'HFA_1', 'HFA_10', 'HFA_101', 'HFA_13', 'HFA_16',
       'HFA_167', 'HFA_19', 'HFA_194', 'HFA_260', 'HFA_275', 'HFA_293',
       'HFA_357', 'HFA_411', 'HFA_417', 'HFA_43', 'HFA_436', 'HFA_440',
       'HFA_441', 'HFA_442', 'HFA_443', 'HFA_444', 'HFA_445', 'HFA_446',
       'HFA_454', 'HFA_546', 'HFA_566', 'HFA_617', 'HFA_618', 'HFA_627',
       'HFA_636', 'HFA_637', 'continent', 'continent_region'],
      dtype='object')

Changing the order of the columns:

In [7]:
columns = ['country', 'continent', 'continent_region', 'years', 
           'HFA_1', 'HFA_10', 'HFA_101', 'HFA_13', 'HFA_16',
           'HFA_167', 'HFA_19', 'HFA_194', 'HFA_260', 'HFA_275', 
           'HFA_293', 'HFA_357', 'HFA_411', 'HFA_417', 'HFA_43', 
           'HFA_436', 'HFA_440', 'HFA_441', 'HFA_442', 'HFA_443', 
           'HFA_444', 'HFA_445', 'HFA_446', 'HFA_454', 'HFA_546', 
           'HFA_566', 'HFA_617', 'HFA_618', 'HFA_627', 'HFA_636', 'HFA_637']

hfa_continents = hfa_continents[columns]

Checking the result:

In [8]:
hfa_continents.sample(10)

,country,continent,continent_region,years,HFA_1,HFA_10,HFA_101,HFA_13,HFA_16,HFA_167,...,HFA_445,HFA_446,HFA_454,HFA_546,HFA_566,HFA_617,HFA_618,HFA_627,HFA_636,HFA_637
1164,Slovakia,Europe,East Europe,2013,5413392.5,15.34,348.40,13.34,10.13,4.38,...,125.18,102.64,154.04,NaN,NaN,24.20,4.06,54.90,NaN,33.696999
895,Netherlands,Europe,West Europe,2008,16445594.0,17.81,159.34,14.86,11.23,3.70,...,79.51,228.71,1416.79,NaN,9.80,27.60,NaN,53.90,NaN,5.273000
556,Ireland,Europe,North Europe,2018,4857100.0,20.77,137.79,13.86,12.56,1.64,...,125.39,155.87,607.36,0.69,NaN,28.90,NaN,NaN,NaN,13.492000
1127,San Marino,Europe,South Europe,2022,33750.0,NaN,NaN,NaN,6.07,NaN,...,NaN,NaN,NaN,9.50,NaN,NaN,NaN,NaN,NaN,NaN
48,Armenia,Asia,Asia,2002,3212878.0,23.97,621.65,9.74,10.03,6.62,...,148.84,203.88,3.42,0.51,NaN,34.80,13.43,47.40,NaN,13.568000
1369,Türkiye,Asia,Asia,2012,75175826.5,25.10,233.45,7.43,17.12,5.94,...,207.42,360.18,99.59,0.95,4.70,42.80,5.59,64.40,NaN,15.307000
900,Netherlands,Europe,West Europe,2013,16804432.0,17.04,133.01,17.09,10.20,2.50,...,85.42,165.78,1065.20,NaN,11.20,25.10,NaN,56.50,NaN,13.165000
141,Belgium,Europe,West Europe,2000,10251250.0,17.61,234.79,16.80,11.21,15.54,...,106.85,192.23,2043.73,0.98,8.00,30.00,0.97,54.50,68.932260,15.282000
762,Members of the EU after May 2004 (EU13),Other,Other,2016,107306971.0,15.08,340.03,17.54,10.10,6.91,...,138.11,188.64,207.93,NaN,6.61,30.56,4.31,59.07,67.930093,17.613921
989,Poland,Europe,East Europe,2009,38153389.0,15.24,356.25,13.49,10.95,10.72,...,151.34,180.81,228.16,NaN,7.20,31.40,5.73,55.20,NaN,20.481001

---

Check if some countries couldn't be assigned to a continent:

In [9]:
hfa_continents[hfa_continents['continent'] == 'Other']['country'].unique()

array(['Central Asian Republics Information Network members (CARINFONET)',
       'Commonwealth of Independent States',
       'Members of the EU after May 2004 (EU13)',
       'Members of the EU before Feb 2020',
       'Members of the EU before May 2004 (EU15)',
       'Members of the European Union', 'Nordic countries',
       'Small countries',
       'South-eastern Europe Health Network members (SEEHN)',
       'WHO European Region', 'Western Balkans'], dtype=object)

In [10]:
hfa_continents[hfa_continents['continent_region'] == 'Other']['country'].unique()

array(['Central Asian Republics Information Network members (CARINFONET)',
       'Commonwealth of Independent States',
       'Members of the EU after May 2004 (EU13)',
       'Members of the EU before Feb 2020',
       'Members of the EU before May 2004 (EU15)',
       'Members of the European Union', 'Nordic countries',
       'Small countries',
       'South-eastern Europe Health Network members (SEEHN)',
       'WHO European Region', 'Western Balkans'], dtype=object)

---

Check if the new created columns match:

In [11]:
pfsp.check_values(hfa_continents)

All values match.

---

# Writing the table into the database

In [12]:
# sfsp.push_to_cloud(hfa_continents, 'hfa_continents')

In [13]:
%store hfa_continents

Stored 'hfa_continents' (DataFrame)